.dialog-container{
  position: relative;
}

.dialog-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.659);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.258);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.975);
  color: #000;
  padding: 20px;
  padding-top: 30px;
  min-width: 50vw;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 5px;
  text-align: center;
  font-size: 1.15rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: unset;
}

.dialog-header{
  position: absolute;
  top: -25px;
  left: 7px;
  display: flex;
  justify-content: start;
  z-index: 2;

  .dialog-header-title{
    margin-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }

  .dialog-header-img {
    height: 50px;
    width: 50px;
    padding: 1px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.dialog-footer{
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 20px;
  width: 100%;
  position: fixed;
  position: absolute;
  bottom: 0;
  right: 0;
}


button{
  border: #000;
  border-radius: 5px;
  background-color: #000000cf;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
